.employee-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 115px;
  .wrapper-action-panel {
    display: flex;
    justify-content: center;
  }
  .wrapper-employee-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 20px;
    padding: 20px 0px;
  }
  .error-message {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 40px;
  }
}
