
$primary-blue: #33aaf3;
$button-blue: #109cf1;
$light-gray: #8c8c8c;
$divider-gray: #ddd;
$header-title-color: #1d2e41;
$status-working: #88e6b3;
$status-on-vacation: #f8867c;
$status-business-trip: #b752db;
$status-lunchtime: #cbd445;
$status-default: #ccc;
$text-color: white;
$cancel-button-color: #5e5e5e;
